<div id="pin_{{pin.id}}" class="pin" style="left:{{pin.left}}px; top:{{pin.top}}px; height:{{pin.height}}px; width:{{pin.width}}px;">
    <header id="pinHeader_{{pin.id}}" class="pinHeader">
        <span style="color:{{user.color}};">
            (left:{{pin.left}}, top:{{pin.top}}, height:{{pin.height}}, width:{{pin.width}})
        </span>
    </header>
    <div id="pinBody_{{pin.id}}" class="pinBody">
    </div>
    <footer id="pinFooter_{{pin.id}}" class="pinFooter">
        <form id="commentInputForm_{{pin.id}}" class="commentInputForm">
            <label for="commentInput">Add comment:</label>
            <input id="commentInput_{{pin.id}}" class="commentInput" name="commentInput" 
                   type="text" />
            <input id="commentInputButton_{{pin.id}}" class="commentInputButton" type="button" 
               value="send comment" />
        </form>
    </footer>
</div>
